@model TheCodingVine.UI.ViewModels.BlogVM
@{
    ViewBag.Title = "View Single All";
}

<h3 class="text-center">Viewing one Blog from a list of all Blogs</h3>

<div class="row">
    <div class="container-fluid col-lg-10 col-md-10 col-sm-10 table-bordered">
        <div class="row">
            <div class="col-md-12">
                <h3>@Model.Blog.Title</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.Blog.Content)
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-6">
                @foreach (var tag in Model.Blog.SearchTags)
                {
                    @(" #" + tag.SearchTagBody + " ");
                }
            </div>
            <div class="col-md-6">
                <p class="text-right">posted by: @Model.BlogWriters.FirstOrDefault(i => i.Id == Model.Blog.BlogWriter.Id).UserName on @Model.Blog.PostDate</p>
            </div>
        </div>
    </div>
</div>
<br />

<p class="text-center">@Html.ActionLink("Return to Blog List", "GetAllBlogs", "Blog")</p>
